div{
    width: 400px;
    background-color: aliceblue;
}
.one{
    width: 400px;
    background-color: aliceblue;
    white-space: nowrap;
    overflow: hidden;
}
.two{
    width: 400px;
    background-color: aliceblue;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}