.assign-1-shape-1{
    background-size: 500px;
    background-position: 50px;
    padding: 20px 20px;
    background-color: blueviolet;
    background-color: rgb(184, 44, 226) ;
    background-color: hsl(286, 76%, 53%) ;
    background-color:#b72be2 ;
}
.assign-1-shape-2{
    background-color:rgb(184 44 226 / 50%);
}
.assign-1-shape-3{
    background-color: rgb(184 44 226 / 0.01%);
}